$dark: #777;
$medium: #aaa;
$light: #ddd;

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1f 30vw 1fr;
      grid-template-columns: 1f 30vw 1fr;
  -ms-grid-rows: 1fr 30vw 1fr;
      grid-template-rows: 1fr 30vw 1fr;
  margin: 0px;
}
.container {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}
.dial-border {
  padding: 10px;
  background: $medium;
  border-radius: 50%;
  border: 2px solid #ddd;
}
.dial {
  border: 1px solid $dark;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background: $light;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  
}
.indicator {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr 1fr 1fr;
      grid-template-columns: 6fr 1fr 1fr 1fr;
}
.indicator-line {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  background: $dark;
  height: 1vw;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.indicator-divet {
  -ms-grid-column: 3;
  grid-column: 3;
  background: $dark;
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.3),
    inset 0 6px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.3),
    inset 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
